.reserves-container {
  max-width: 100%;
  padding: 20px;
  font-family: Arial, sans-serif; /* Clean, readable font */
  background-color: #fcf9f9; /* Light background color */
  border-radius: 8px;
  }
  
  .reserves-content h2 {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-align: left; /* Center the title */
  }
  
  .reserve-details {
    display: grid;
    grid-template-columns:2fr; /* Label and data layout */
    grid-gap: 10px 20px;
    margin-bottom: 20px;
  }
  
  .reserve-field {
    font-size: 16px;
    color: #444;
  }
  
  .reserve-field strong {
    font-weight: bold;
    color: #000;
  }
  

  