/* StepIndicator.css */
.step-indicator {
    margin: 20px 0;
    text-align: left;
    font-family: 'Arial', sans-serif;
  }
  
  .step-text {
    font-size: 1.0rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .progress-bar-container {
    background-color: #e0e0e0;
    border-radius: 25px;
    height: 10px;
    width: 100%;
    margin: 0 auto;
  }
  
  .progress-bar {
    background-color: #4caf50;
    height: 100%;
    border-radius: 25px;
    transition: width 0.3s ease-in-out;
  }
  